/directives-part1/node_modules
/databinding/node_modules
/forms/node_modules
/intro/node_modules
/section2-project/node_modules
/section3-project/node_modules
/section4-project/node_modules
/section4-project-v1/node_modules
/section4-project-v1/.sass-cache
/services/node_modules
/shopping-list/node_modules
/pipes/node_modules
/routes/node_modules
